*{
    padding: 0px;
    margin: 0px;
}

.BGVideo {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1; 
  object-fit: cover;
}

/* @media screen and (max-width: 400px) {
} */
