* {
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

.info-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding-top: 7vh;
  height: 60vh;
}

.img-container {
  margin-left: 10vh;
  position: relative;
  height: 60vh;
  width: 40vh;
  background: linear-gradient(to top right, white 0%, #00bfff 25%, transparent 50%, transparent 90%);
  border-radius: 30%;
  animation: imgSlides 0.5s linear 0s 1 normal;
}

@keyframes imgSlides {
  from {
    margin-left: 0vh;
  }

  to {
    margin-left: 10vh;
  }
}

.img {
  position: absolute;
  top: 10vh;
  left: 5vh;
  height: 40vh;
  width: 30vh;
  border-radius: 20%;
  background: linear-gradient(to top right, white 10%, #00bfff 40%, transparent 60%, transparent 90%);
  animation: op 0.5s linear 0s 1 normal;
}

.info {
  color: white;
  padding-top: 7vh;
  padding-left: 2vh;
  width: 50vh;
  word-spacing: 10px;
  animation: op 1s linear 0s 1 normal;
}

@keyframes op {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.name {
  font-size: 3vh;
  color: #A2E4B8;
}

h1 {
  font-size: 4vh;
}

.intro {
  font-size: 2.5vh;
  padding-top: 2vh;
  text-align: left;
}


.social {
  padding-left: 102vh;
}

.link {
  margin-left: 5vh;
  animation: app-drop 0.5s linear 0s 1 normal;
}

.link:hover {
  box-shadow: 1px 8px 6px white;
}

@keyframes app-drop {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width: 400px) {
  .info-container {
    height: 50vh;
  }

  .img-container {
    margin-left: 2vh;
    height: 45vh;
    width: 25vh;
    animation: imgSlides 0.5s linear 0s 1 normal;
  }


  @keyframes imgSlides {
    from {
      margin-left: 0vh;
    }

    to {
      margin-left: 2vh;
    }
  }

  .img {
    height: 30vh;
    width: 20vh;
    left: 1vh;
  }

  .info {
    width: 25vh;
    word-spacing: normal;
  }

  .name {
    font-size: 1.5vh;
  }

  h1 {
    font-size: 2.5vh;
  }

  .intro {
    font-size: 1.5vh;
    padding-top: 2vh;
  }

  .social {
    padding-left: 2vh;
    margin-left: 22vh;
  }

  .link {
    margin-left: 2vh;
  }

  img {
    height: 3vh;
    width: 3vh;
  }

}